.form-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  align-items: center;
  background-color: whitesmoke;
  height: 100%;
  width: 80%;
}

.form-body label {
  display: flex;
  line-height: 30px;
}

.form-body input , textarea , select {
  background-color: whitesmoke;
  border: 1px inset darkblue;
  font-size: 1em;
  text-align: justify;
  width: 100%;
}

.form-button-back {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  display: inline-flex;
  float: left;
  font-family: monospace;
  font-size: 0.7em;
  padding: 8px 15px;
  text-decoration-line: none;
}

.form-button-back:hover {
  background-color: green;
  text-decoration-line: none;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  position: absolute;
}

.btn:focus {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  outline: none;
} 

.movie_rating , .movie_genre {
  margin: 5px;
  width: 15%;
}

.movie_genre {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 12px;
  text-align: end;
}


.btn-submit {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  float: right;
  font-family: monospace;
  font-size: 0.7em;
  padding: 1px 15px;
  text-decoration-line: none;
  width: min-content;
}

.btn-submit:hover {
  background-color: green;
  text-decoration-line: none;
}
